.plus {
  font-size: 70px;
  text-shadow: 4px 4px #eee;
}

ul.side-nav.fixed ul.collapsible-accordion a.collapsible-header {
  padding: 0 30px;
}

ul.side-nav.fixed ul.collapsible-accordion .collapsible-body li a {
  font-weight: 400;
  padding: 0 37.5px 0 45px;
}

.logo h3 {
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.side-nav .logo a {
  height: 170px;
}

.logo-img {
  padding-top: 20px;
}

.logo-title {
  font-size: 20px;
}

.side-nav .source {
  text-align: center;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.side-nav .source a {
  width: 100%;
  padding: 0;
  height: 32px;
}

.side-nav .source td {
  padding: 0;
  text-align: center;
  width: 50%;
  line-height: 15px;
}

.github-stars {
  vertical-align: middle;
}
