<div class="container">
  <div class="row">
    <div class="col s12 m9 l10">
      <div class="section scrollspy">
        <h2 class="header">Angular DataTables</h2>
        <p class="caption">
          <a href="https://angular.io/"><img src="https://angular.io/resources/images/logos/angular2/angular.svg" height="32px" />&nbsp;Angular 2</a>
          Structural framework for dynamic web apps +
          <a href="https://datatables.net/"><img src="https://datatables.net/media/images/nav-dt.png" />&nbsp;DataTables</a>
          jQuery plug-in for complex HTML tables
        </p>
      </div>
    </div>
  </div>
</div>
